flask==2.0.1
flask-socketio==5.1.1
opencv-python==4.5.3.56
mediapipe==0.8.9
numpy==1.21.2
python-engineio==4.2.1
python-socketio==5.4.0

# we can add eventlet and sounddevice

pip install opencv-python numpy python-engineio python-socketio sounddevice
